#bloque1{
    font-size:45px;
    color:blue;
    background:rgb(184, 184, 47);
}

article p{
    font-size:35px;
    color:green;
    background:rgb(49, 49, 87);
}

div h2{
    font-size:38px;
    color:red;
    background: blue;
}

div h3{
    font-size:32px;
    color: black;
    background: red;
}

div em{
    font-size:34px;
    color: gray;
    background: green;
}

.bloque2{
    font-size:41px;
    color:blue;
    background:yellow;
}

article pre{
    font-size:45px;
    color: white;
    background: black;
}

