section article ol p {
    color: red;
    font-size: 20px;
}

article blockquote h5 {
    color: blue;
    font-size: 15px;
}

nav ul {
    list-style-type:nome;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: #333;
  }